# Virtual environment
.venv/

# IDE/editor settings
backend/.idea/
backend/.vscode/

# Node modules
frontend/node_modules/

# Build output (React/Frontend)
frontend/build/

# Environment & secrets
*.env
*.env.*
backend/.env
backend/.env.docker

# Django stuff
__pycache__/
*.pyc
*.pyo
*.pyd
backend/db.sqlite3
backend/media/
backend/staticfiles/

# Logs
*.log

# Docker files
docker-compose.override.yml
*.log
